<section class="album-covers container clearfix">
  <div class="collection-album-container column fourth" ng-repeat="album in collection.albums track by $index">
    <a ui-sref="album">
      <img src="{{ album.albumArtUrl }}">
    </a>
    <div class="collection-album-info caption">
      <p>
        <a class="album-name" ui-sref="album">{{ album.title }}</a>
        <br/>
        <a ui-sref="album">{{ album.artist }}</a>
        <br/>
        {{ album.songs.length }} songs
        <br/>
      </p>
    </div>
  </div>
</section>
